.email-signup {
  left: 10%;
  width: 80%;
  position: relative;
  padding: 10px;
}

.signup {
  height: 400px;
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
  position: relative;
}

.password-signup {
  left: 10%;
  width: 80%;
  position: relative;
  padding: 10px;
}

.button-signup {
  left: 10%;
  position: relative;
  padding: 10px;
}

.toast-signup {
  left: 10%;
  width: 80%;
  position: relative;
  padding: 10px;
}
